.movie, .cast {
    &__list {
        margin-top: 50px;
        margin-left: 100px;
        font-size: 24px;
        font-weight: bold;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 30px;
        row-gap: 35px;
        list-style-type: none;
        max-width: 1300px;
        
        padding: 0 20px; // Додаємо внутрішні відступи з боків
        box-sizing: border-box;
    }
}