.card {
	&__movie {
		display: flex;
		align-items: flex-start;
		padding: 20px;

		.image-button-container {
			display: flex;
			flex-direction: column;
			align-items: start;
			margin-right: 20px;

			button {
				margin-bottom: 10px;
				font-size: 16px;
				background-color: #2F3645;
				color: white;
				border: none;
				border-radius: 4px;
				cursor: pointer;
			}

			img {
				width: 300px;
				height: 450px;
				object-fit: cover;
				border-radius: 8px;
			}
		}
	}

	&__details {
		display: flex;
		flex-direction: column;
		text-align: left;
		width: 100%;

		&__title {
			padding-top: 30px;
			font-size: 24px;
			font-weight: bold;
			margin-bottom: 10px;
		}

		&__release-date,
		&__rating,
		&__genres,
		.overview {
			margin-bottom: 10px;
			font-size: 16px;
			color: #364F6B;
		}
	}

	@media (max-width: 1000px) {

		&__movie {
			flex-direction: column;
			align-items: center;

			.image-button-container {
				margin-right: 0;
				margin-bottom: 20px;
				align-items: center;

				button {
					margin-bottom: 10px;
				}
			}
		}

		&__details {


			&__title {
				font-size: 20px;
			}

			&__release-date,
			&__rating,
			&__genres,
			.overview {
				font-size: 14px;
			}
		}
	}
}