
    header {
        background-color: #333;
        color: white;
        padding: 10px 20px;
        align-items: center;

        a {
            color: white;
            text-decoration: none;
        }

    }

	.logo {
		font-size: 24px;
		font-weight: bold;
		
	}

    .signIn {
		position: absolute;
        right: 10px;
		top: 20px;
    }

   .movie {
        font-size: 20px;
        margin-top: 40px; /* Додає відступ від заголовка */
		padding-left: 50px;
    }

    .movieDescription {
        font-size: 16px;
        margin-top: 10px;
		padding-left: 50px;
        color: #ccc;
    }

